@use "../../styles/variables.scss" as varr;

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: varr.$info_bg;
  padding: 1.5rem 1rem;
  margin-top: 7rem;
  margin-bottom: 4rem;

  border-radius: varr.$radius;
  -webkit-border-radius: varr.$radius;
  -moz-border-radius: varr.$radius;
  -ms-border-radius: varr.$radius;
  -o-border-radius: varr.$radius;

  @media screen and (max-width: 900px) {
    display: none;
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcb30a;
    margin-right: 1rem;
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
    white-space: nowrap;
  }
}
