@use "../../styles/variables.scss" as varr;

.select {
  fieldset {
    border: 1px solid #c4c4c4;
    height: 3.9rem;
    width: 16rem;

    border-radius: varr.$radius;
    -webkit-border-radius: varr.$radius;
    -moz-border-radius: varr.$radius;
    -ms-border-radius: varr.$radius;
    -o-border-radius: varr.$radius;

    position: relative;
    z-index: 10000000 !important;

    // overflow: hidden;

    legend {
      margin-left: 1.5rem;
      color: varr.$placeholder_color;
      font-size: 1rem;
      padding: 0 0.5rem;
      z-index: 10000000 !important;
    }
  }
}

.selectholder {
  width: 100%;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 0.5rem;

  select {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;

    &:focus {
      outline: none;
    }
  }
}
