@use "../../styles/variables.scss" as varr;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.4rem;
    padding-left: 2.5rem;
    border: 1px solid varr.$border_color;
    height: 4.5rem;
    width: 32rem;

    border-radius: varr.$radius;
    -webkit-border-radius: varr.$radius;
    -moz-border-radius: varr.$radius;
    -ms-border-radius: varr.$radius;
    -o-border-radius: varr.$radius;

    @media screen and (max-width: 1200px) {
      margin-bottom: 1.5rem;
    }

    input {
      border: none;
      color: varr.$text_color;
      height: 100%;
      width: 90%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: varr.$placeholder_color;
      }
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: varr.$placeholder_color;
      font-weight: 100;
    }
  }

  &__select {
    display: flex;
    align-items: center;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    p {
      margin-right: 2rem;
      color: varr.$placeholder_color;
      font-size: 1.4rem;

      @media screen and (max-width: 725px) {
        display: none;
      }
    }

    div:not(:last-child) {
      margin-right: 2rem;

      @media screen and (max-width: 500px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
